/* ---- Buttons ---- */
.btn {
  display: inline-block;
  background: transparent;
  border: 0;
  font-size: rem(15px);
  font-weight: bold;
  letter-spacing: 4px;
  min-height: $btn-height;
  text-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
  padding: rem(15px) rem(30px);
  background-image: none;
  box-shadow: initial;
  transition: 0.3s;
  &:focus , &:active , &:active:focus { outline: none; box-shadow: none; }
  &:hover { text-decoration: none;}


  &.btn-primary {
    color: $white; background-color: $primary;
    &:focus, &:hover, &:active:focus { background-color: transparentize($primary, 0.2); border-color: transparentize($primary, 0.2);}
  }
  &.btn-secondary {
    color: $white; background-color: $secondary;
    &:focus, &:hover, &:active:focus { background-color: $black; border-color: $black; }
  }

  &[disabled] {
    pointer-events: none; opacity: 0.5;
  }
}

