/* ---- Header ---- */
.header-wrap {
  padding: rem(19px) 0; margin-bottom: rem(9px);
  @include min(md){ padding: rem(88px) 0 rem(30px); margin-bottom: rem(20px); }

  .container {

    &::before,
    &::after { content: ''; display: table; clear: both;}
  }
}

// Header logo
.header-logo {
  float: left; width: 46px; display: block;
  @include min(md){ width: 65px; }
}

// Header mobile burger button
.btn-menu {
  position: relative; float:right; height: 35px; width: 40px; color: $black;
  @include min(md){ display: none; }

  i { font-size: 17px; }
  &.opened {
    i { @extend .icon-menu-close; }
  }
}

// Header Nav
.header-nav {
  float: right; margin: 0 0 0 rem(20px); display: none;
  @include min(md){ display: block !important;}

  ul {
    margin-bottom: 0; margin: 0; padding: 0;

    li { display: inline-block;
      @include min(md){ margin-left: rem(34px); }

      a {
        color: $text-color; font-size: 16px;
        @include min(md){ line-height: 45px;}

        &:hover, &:focus { color: $red; text-decoration: none;}
      }
    }
  }
}
